{% extends 'articles/base.html' %}
{% block body %}
  <hr>
  {% if user_profile == user %}
    <!-- 작성한 글 / 갯수 -->
    <h5>작성한 글 ( {{user_profile.article_set.count}} )</h5>
    {% for article in user_profile.article_set.all %}
      <a href="{% url 'articles:detail' article.pk %}" class="d-inline-block">{{article.pk}} : {{article.title}}</a>
      <p class="d-inline-block"> ( 댓글 : {{article.comment_set.count}}   / 좋아요 : {{article.like_users.all.count}} )</p><br>
    {% endfor %}
    <hr>
    <!-- 작성한 댓글 / 갯수 -->
    <h5>작성한 댓글 ( {{user_profile.comment_set.count}} )</h5>
    {% for comment in user.comment_set.all %}
      <a href="{% url 'articles:detail' comment.article_id %}" class="d-inline-block">{{comment.article.title}}</a>
      <p class="d-inline-block"> -- 댓글 : {{comment.content}}</p>
      <br>
    {% endfor %}
    <hr>
    <!-- 좋아요한 글 / 갯수 -->
    <h5>관심있는 글 ( {{user.like_articles.count}} )</h5>
    {% for article in user.like_articles.all %}
      <a href="{% url 'articles:detail' article.pk %}">{{article.pk}} : {{article.title}}</a>
      <br>
    {% endfor %}
    <hr>
  {% endif %}
{% endblock %}