{% extends 'articles/base.html' %}

{% block body %}
  <div><h6 class="text-right text-secondary">{{ article.id }}번째 글 </h6></div>
  <h4 style="display:inline-block;"> {{ article.title }}</h4>
  <h6 class="text-right">작성자 : {{ article.user }}</h6>
  <hr>
  {% if article.user == user %}
    <p  class="text-right">
      <a href="{% url 'articles:update' article.pk %}" class="text-right ml-auto">[수정하기]</a>
      {% comment %} <a href="{% url 'articles:delete' article.pk %}" class="text-right ml-auto">[삭제하기]</a> {% endcomment %}
      {% if article.user == user %}
        <form action="{% url 'articles:delete' article.pk %}" class="text-right ml-auto" method="POST" onclick="return confirm('REALLY DELETE?')">
          {% csrf_token %}
          <input type="submit" value="삭제하기" class="text-right ml-auto">
        </form>
      {% endif %}
    </p>
  {% endif %}
  <div><p>{{ article.content|linebreaksbr }}</p></div>
  {% load hashtag %}
  <p>{{article|make_link|safe}}</p>
  {% if article.image %}
    <div><img src="{{ article.image.url }}" alt=""></div>
  {% endif %}
  <br>
  
  <h6 class="text-right text-secondary ml-auto inline">작성일자 : {{ article.created_at }}</h6>
  <h6 class="text-right text-secondary">수정일자 : {{ article.updated_at }}</h6>
  
  <hr>
  <!-- <a href="{% url 'articles:like' article.pk %}" class='d-inline-block'> -->
  <button class="btn btn-danger" id="like-btn" data-id="{{article.id}}">
    {% if user in article.like_users.all %}
      <i class="fas fa-heart animated infinite bounce delay-1s" style="color: blue;"></i>
    {% else %}
      <i class="far fa-heart animated"></i>
    {% endif %}
    </button>
  <!-- </a> -->
  <p class='d-inline-block'><span id="like-count">   {{article.like_users.count}}</span>명이 이 글을 좋아합니다.</p>
  <hr>
  <form action="{% url 'articles:index' %}">
    <input type="submit" value="목록으로">
  </form>
  <hr>
    <form action="{% url 'articles:comment_create' article.pk %}" method="POST">
      {% csrf_token %}
      {{ comment_form }}
      <input type="submit" value="작성하기">
    </form>
  <hr>
  <p>댓글수 : {{ comments.count }}</p>
  <hr>
  <ol>
    {% for comment in comments %}
      <li>{{comment.content}}</li>
      <p>{{ comment.user }} : {{comment.created_at}}</p>
      {% if comment.user == user %}
        <form action="{% url 'articles:comment_delete' article.pk comment.pk %}" method="POST" onclick="return confirm('REALLY DELETE?')">
          {% csrf_token %}
          <input type="submit" value="삭제하기">
        </form>
      {% endif %}
      <hr>
      {% empty %}
      <p>댓글이 없습니다.</p>
    {% endfor %}
  </ol>
  {% comment %} <a href="{% url 'articles:index' %}">목록으로</a> {% endcomment %}
  {% comment %} <a href="/articles/">목록으로</a><br> {% endcomment %}
{% endblock %}
{% block script %}
  <script>
    const likeButton = document.querySelector('#like-btn')
    likeButton.addEventListener('click', function (event) {
      console.log(this)
      axios.get(`/articles/${this.dataset.id}/like/`)
        .then(response => {
          console.log(response)
          console.log(event.target)
          const likers = document.querySelector('#like-count')
          if (response.data.is_liked) {
            this.children[0].classList.remove('far')
            this.children[0].classList.add('fas')
          } else {
            this.children[0].classList.remove('fas')
            this.children[0].classList.add('far')
          }
          likers.innerText = response.data.likers
        })
    })
  </script>
{% endblock %}